h1{
    color:lightblue;
}
#main{
    background-color:beige;
    text-align:left;
    margin-left:20%;
    padding:20px;
    width:60%;
    font-size:1.3em;
    font-family: "Times New Roman", Georgia, Serif;
}

button{
    height:2em;
    width:8em;
    font-size:1em;
    margin:20px;
    font-family: "Times New Roman", Georgia, Serif;
}

#right{
    color: green;
    font-size: 20pt;
}

#wrong{
    color: red;
    font-size: 20pt;
}